<h2>Подача заявки</h2>
<hr class="col-md-12" />
<form (ngSubmit)="onSubmit(requestFGroup)" novalidate [formGroup]="requestFGroup">
    <div class="col-md-12">
        <div [ngBusy]="{busy: busy, message: 'Загрузка...', backdrop: true, minDuration: 600}"></div>
    </div>
    <modal #reqModal>
        <modal-header>
            <h2>Подача заявки</h2>
        </modal-header>
        <modal-body>
            {{confirmMessage}}
        </modal-body>
        <modal-footer>
            <button class="btn btn-primary" (click)="reqModal.close()">OK</button>
        </modal-footer>
    </modal>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Руководитель</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Предметная область</label>
                    <ng-select [items]="dAreasList"
                               (selected)="dasSelected($event)"
                               placeholder="Не выбрана предметная область"
                               formControlName="das">
                    </ng-select>
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('das').hasError('required')
                            && requestFGroup.get('das').touched">
                        Не выбрана предметная область
                    </div>
                </div>
                <div class="form-group">
                    <label>Преподаватель</label>
                    <ng-select [items]="teachersList"
                               #teachersSelect
                               placeholder="Не выбран преподаватель"
                               formControlName="teachers">
                    </ng-select>
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('teachers').hasError('required')
                            && requestFGroup.get('teachers').touched">
                        Не выбран преподаватель
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Образовательный уровень (бакалавр, магистр)</label>
            <ng-select [items]="degrees"
                       placeholder="Не выбран образовательный уровень"
                       (selected)="degreeSelected($event)"
                       formControlName="degrees">
            </ng-select>
            <div class="alert alert-danger"
                 *ngIf="requestFGroup.get('degrees').hasError('required')
                            && requestFGroup.get('degrees').touched">
                Не выбран образовательный уровень
            </div>
            <div class="alert alert-info" *ngIf="capacity">
                <h4>Свободно: {{capacity?.count - capacity?.acceptedCount}}</h4>
                Всего мест: {{capacity?.count}}
            </div>
        </div>
        <div class="panel panel-default" formGroupName="studentFGroup">
            <div class="panel-heading">Студент</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text"
                           id="lastName"
                           class="form-control" placeholder="Введите фамилию"
                           formControlName="lastName" />
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.lastName').hasError('required')
                            && requestFGroup.get('studentFGroup.lastName').touched">
                        Не указано имя
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.lastName').hasError('minlength')
                            && requestFGroup.get('studentFGroup.lastName').touched">
                        Мимимум 3 символа
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text"
                           id="firstName"
                           class="form-control" placeholder="Введите имя"
                           formControlName="firstName" />
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.firstName').hasError('required')
                            && requestFGroup.get('studentFGroup.firstName').touched">
                        Не указана фамилия
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.firstName').hasError('minlength')
                            && requestFGroup.get('studentFGroup.firstName').touched">
                        Мимимум 3 символа
                    </div>
                </div>
                <div class="form-group">
                    <label for="patronymic">Отчество</label>
                    <input type="text"
                           id="patronymic"
                           class="form-control" placeholder="Введите отчество"
                           formControlName="patronymic" />
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.patronymic').hasError('required')
                            && requestFGroup.get('studentFGroup.patronymic').touched">
                        Не указано отчество
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.patronymic').hasError('minlength')
                            && requestFGroup.get('studentFGroup.patronymic').touched">
                        Мимимум 3 символа
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text"
                           id="email"
                           class="form-control" placeholder="Введите E-mail"
                           formControlName="email" />
                    <div class="alert alert-danger"
                         *ngIf="requestFGroup.get('studentFGroup.email').invalid 
                            && requestFGroup.get('studentFGroup.email').touched">
                        Некорректный E-mail
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Тема работы</label>
            <textarea type="text"
                      id="title"
                      class="form-control" 
                      placeholder="Введите тему работы" 
                      rows="5"
                      formControlName="title"></textarea>
            <div class="alert alert-danger"
                 *ngIf="requestFGroup.get('title').hasError('required')
                            && requestFGroup.get('title').touched">
                Не указана тема работы
            </div>
            <div class="alert alert-danger"
                 *ngIf="requestFGroup.get('title').hasError('minlength')
                            && requestFGroup.get('title').touched">
                Мимимум 5 символов
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="requestFGroup.invalid">Подать</button>
        </div>
    </div>
</form>