body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary {
    min-width: 75px;
}

.loading {
    position: fixed;
    z-index: 1002;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

table .btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 125px;
}
