<h2>Добро пожаловать в систему распредения студентов</h2>
<ul>
    <li>Перейдите на вкладку "Подать заявку" чтобы осуществить запись к дипломному руководителю</li>
    <li>Выберите интересующую Вас предметную область</li>
    <li>Выберите преподавателя</li>
    <li>Выберите Ваш образовательный уровень (бакалавр, магистр)</li>
    <li>Выберите Вашу группу и ФИО из предложенного списка</li>
    <li>Нажмите на кнопку "Подать"</li>
</ul>
<h4 class="text-danger">Если вашего ФИО нет в списке, пожалуйста, обратитесь к администратору</h4>