<h2>Редактирование заявок</h2>
<hr class="col-md-12" />
<div>
    <modal #diplomaRequestModal (onClose)="requestWindowClosed()">
        <modal-header [show-close]="true">
            <h4>Редактирование заявки</h4>
        </modal-header>
        <modal-body>
            <form [formGroup]="projectFGroup">
                <div class="well">
                    {{selectedRequest?.student.fullName}}
                </div>
                <div class="form-group">
                    <label for="practiceDate">Дата сдачи журнала по практике</label>
                    <div class="input-group">
                        <input id="practiceDate" class="form-control" style="float:none" placeholder="Выберите дату" ngx-mydatepicker 
                               name="practiceJournalPassed" [options]="myOptions" #dp="ngx-mydatepicker" formControlName="practiceJournalPassed" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="dp.clearDate();$event.stopPropagation()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar();$event.stopPropagation()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Многоязычная тема диплома</div>
                    <div class="panel-body">
                        <div formArrayName="projectTitles" [ngBusy]="{busy: modalBusy}">
                            <div class="form-group"
                                 *ngFor="let title of projectFGroup.controls['projectTitles'].controls; let i = index">
                                <label>{{selectedRequest.projectTitles[i].locale.nativeName | capitalizeFirst}}</label>
                                <input class="form-control" formControlName="{{i}}"
                                       *ngIf="selectedRequest.projectTitles[i].locale.id == 1" />
                                <div class="input-group" *ngIf="selectedRequest.projectTitles[i].locale.id > 1">
                                    <input class="form-control" formControlName="{{i}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" title="Перевести"
                                                (click)="translateProjectTitle(selectedRequest.projectTitles[i], title, 
                                                projectFGroup.controls['projectTitles'].controls[0])">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-primary" (click)="diplomaRequestModal.close()">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="diplomaRequestModal" (click)="diplomaRequestModal.dismiss()">Отмена</button>
        </modal-footer>
    </modal>
    <modal #acceptModal (onClose)="acceptModalClosed()">
        <modal-header [show-close]="true">
            <h4>Принять заявку</h4>
        </modal-header>
        <modal-body>
            <div class="well">
                {{selectedRequest?.student.fullName}}
            </div>
            <div class="form-group">
                <label for="comment">Комментарий</label>
                <textarea id="comment" class="form-control" rows="5" [(ngModel)]="comment"></textarea>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-success" (click)="acceptModal.close()">ОК</button>
            <button type="button" class="btn btn-default" data-dismiss="acceptModal" (click)="acceptModal.dismiss()">Отмена</button>
        </modal-footer>
    </modal>
    <modal #declineModal (onClose)="declineModalClosed()">
        <modal-header [show-close]="true">
            <h4>Отклонить заявку</h4>
        </modal-header>
        <modal-body>
            <div class="well">
                <span class="text-danger">{{selectedRequest?.student.fullName}}</span>
            </div>
            <div class="form-group">
                <label for="commentDecline">Комментарий</label>
                <textarea id="commentDecline" class="form-control" rows="5" [(ngModel)]="commentModal"></textarea>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-danger" (click)="declineModal.close()">ОК</button>
            <button type="button" class="btn btn-default" data-dismiss="declineModal" (click)="declineModal.dismiss()">Отмена</button>
        </modal-footer>
    </modal>
    <div class="input-group">
        <input type="text" #queryField [formControl]="queryFieldControl" class="form-control" placeholder="Поиск..."
               />
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button" (click)="queryFieldControl.reset(); queryFieldControl.focus()" 
                    *ngIf="queryFieldControl.value">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-info" type="button" (click)="getProjects()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>    
    <table class="table table-striped" style="margin-top: 10px" [ngBusy]="{busy: busy}">
        <tr>
            <th>№ заявки</th>
            <th>ФИО студента</th>
            <th>Тема</th>
            <th>Дата подачи</th>
            <th>Дата сдачи журнала</th>
            <th></th>
        </tr>
        <tr *ngFor="let request of requests" [ngClass]="{'strikeout': request.accepted === false }">
            <td>{{request.id}}</td>
            <td>{{request.student.shortName}}</td>
            <td>
                <div *ngFor="let projectTitle of request.projectTitles">
                    <span *ngIf="projectTitle.title">"{{projectTitle.title}}"</span>
                    <span *ngIf="projectTitle.title && projectTitle.locale.name"> ({{projectTitle.locale.nativeName}})</span>
                    <span *ngIf="!projectTitle.title" class="text-danger">Не задано! ({{projectTitle.locale.nativeName}})</span>
                </div>
            </td>
            <td>{{request.creationDate | date: "dd.MM.yyyy"}}</td>
            <td>{{request.practiceJournalPassed ? (request.practiceJournalPassed | date: "dd.MM.yyyy") : "Не сдан" }}</td>
            <td>
                <button *ngIf="request.accepted === null" class="btn btn-success" type="button" (click)="acceptDiplomaRequest(request)">
                    <i class="glyphicon glyphicon-ok-sign"></i>&nbsp;Принять
                </button>
                <button *ngIf="request.accepted === true" class="btn btn-primary" type="button" (click)="editRequest(request)">
                    <i class="glyphicon glyphicon-edit"></i>&nbsp;Редактировать
                </button>
                <button *ngIf="request.accepted === null || request.accepted === true" class="btn btn-danger" type="button" (click)="declineDiplomaRequest(request)">
                    <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Отклонить
                </button>
            </td>
        </tr>
    </table>
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"
                previousText="Пред." nextText="След." firstText="Первая" lastText="Последняя"></pagination>
</div>
