<h2>Редактирование заявок</h2>
<hr class="col-md-12" />
<div>
    <modal #diplomaRequestModal (onClose)="requestWindowClosed()">
        <form #diplomaRequestForm="ngForm" [formGroup]="projectTitlesFGroup">
            <modal-header [show-close]="true">
                <h4>Редактирование заявки</h4>
            </modal-header>
            <modal-body>
                <form [formGroup]="projectTitlesFGroup">
                    <div class="well">
                        {{selectedRequest?.student.toString()}}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Многоязычная тема диплома</div>
                        <div class="panel-body">
                            <div formArrayName="projectTitles">
                                <div class="form-group"
                                     *ngFor="let title of projectTitlesFGroup.controls['projectTitles'].controls; let i = index">
                                    <label>{{selectedRequest.projectTitles[i].locale.nativeName | capitalizeFirst}}</label>
                                    <input class="form-control" formControlName="{{i}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-primary" (click)="diplomaRequestModal.close()">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="diplomaRequestModal" (click)="diplomaRequestModal.dismiss()">Отмена</button>
            </modal-footer>
        </form>
    </modal>
    <table class="table table-striped" [ngBusy]="{busy: busy}">
        <tr>
            <th>№ заявки</th>
            <th>ФИО студента</th>
            <th>Тема</th>
            <th>Дата подачи</th>
            <th>Принята?</th>
            <th></th>
        </tr>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.student.toString()}}</td>
            <td>
                <div *ngFor="let projectTitle of request.projectTitles">
                    "{{projectTitle.title}}" ({{projectTitle.locale.nativeName}})
                </div>
            </td>
            <td>{{request.creationDate | date: "dd.MM.yyyy"}}</td>
            <td>{{request.accepted | accepted}}</td>
            <td>
                <button *ngIf="!request.accepted" class="btn btn-success" type="button">
                    <i class="glyphicon glyphicon-ok-sign"></i>&nbsp;Принять
                </button>
                <button *ngIf="!request.accepted" class="btn btn-danger" type="button">
                    <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Отклонить
                </button>
                <button *ngIf="request.accepted" class="btn btn-primary" type="button" (click)="editRequest(request)">
                    <i class="glyphicon glyphicon-edit"></i>&nbsp;Редактировать
                </button>
            </td>
        </tr>
    </table>
</div>
