<form (ngSubmit)="onSubmit(requestFGroup)" novalidate [formGroup]="requestFGroup">
    <div class="col-md-12">
        <div [ngBusy]="{busy: busy, message: 'Загрузка...', backdrop: false, minDuration: 2000}"></div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Руководитель</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Предметная область</label>
                    <ng-select [items]="dAreasList"
                               (selected)="dasSelected($event)"
                               placeholder="Не выбрана предметная область"
                               formControlName="das">
                    </ng-select>
                </div>
                <div class="form-group">
                    <label>Преподаватель</label>
                    <ng-select [items]="teachersList"
                               #teachersSelect
                               placeholder="Не выбран преподаватель"
                               formControlName="teachers">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Студент</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Образовательный уровень (бакалавр, магистр)</label>
                    <ng-select [items]="degrees"
                               placeholder="Не выбран образовательный уровень">
                    </ng-select>
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" 
                           id="lastName"
                           class="form-control" placeholder="Введите фамилию" 
                           formControlName="lastName" />
                </div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text" 
                           id="firstName"
                           class="form-control" placeholder="Введите имя" 
                           formControlName="firstName" />
                </div>
                <div class="form-group">
                    <label for="patronymic">Отчество</label>
                    <input type="text" 
                           id="patronymic"
                           class="form-control" placeholder="Введите отчество" 
                           formControlName="patronymic" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Тема работы</label>
            <textarea type="text"
                      id="title"
                      class="form-control" 
                      placeholder="Введите тему работы" 
                      rows="5"
                      formControlName="title"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Подать</button>
        </div>
    </div>
</form>